<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.smartLesson.mapper.QuestionKnowledgePointMapper">

    <insert id="insertBatchKPs">
        INSERT INTO QuestionKnowledgePoints (question_id, kp_id)
        VALUES
        <foreach collection="knowledgePointIds" item="kpId" separator=",">
            (#{questionId}, #{kpId})
        </foreach>
    </insert>

    <delete id="deleteKPsByQuestionId" parameterType="int">
        DELETE FROM QuestionKnowledgePoints WHERE question_id = #{questionId}
    </delete>

    <select id="findKPsByQuestionId" parameterType="int" resultType="int">
        SELECT kp_id FROM QuestionKnowledgePoints WHERE question_id = #{questionId}
    </select>

    <select id="countQuestionsByKpForCourse" parameterType="int" resultType="map">
        SELECT qkp.kp_id AS kpId, COUNT(*) AS cnt
        FROM QuestionKnowledgePoints qkp
                 JOIN Questions q ON q.question_id = qkp.question_id
        WHERE q.course_id = #{courseId}
        GROUP BY qkp.kp_id
    </select>
</mapper>
