<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.smartLesson.mapper.ResourceKnowledgePointMapper">

    <insert id="insertBatch">
        INSERT INTO ResourceKnowledgePoints
        (resource_id, kp_id)
        VALUES
        <foreach collection="knowledgePointIds" item="kpId" separator=",">
            (#{resourceId}, #{kpId})
        </foreach>
    </insert>

</mapper>